{% extends 'base.html.twig' %}

{% block body %}
   <div id="about" class="section padding" style="background-color: lightslategrey;">

		<!-- Container -->
		<div class="container text-center">
			<!-- Row -->
			<div class="row">
				<!-- Section header -->
				<div class="section-header">
					<h1>Hola mundo</h1>
				</div>
				<!-- /Section header -->
				<!-- about -->
				<div class="col-md-12">
					<div>
						<p style="color:black;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Dolorem et omnis a officiis veniam dignissimos ducimus reiciendis aspernatur quam. Dolorem excepturi reprehenderit aliquam amet doloremque. Voluptate dolorem debitis explicabo quod!
						</p>	  
					</div>
				</div>
				<!-- /about -->
				<!-- about -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->
	</div>
	<!-- /About -->


	<!-- Portfolio -->
	<div id="portfolio" class="section bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row padding">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Proyectos</h2>
				</div>
				<!-- /Section header -->

				<!-- Work -->
				
				<div class="col-md-4 col-xs-6 work">
						<a href="index.html">
					<img class="img-responsive" src="./img/LogoDODOhorizontal.png" alt="">
					<div class="overlay"></div>
				</a>
				</div>
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="./img/LogoDODOhorizontal.png" alt="">
					<div class="overlay"></div>
				</div>
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="./img/LogoDODOhorizontal.png" alt="">
					<div class="overlay"></div>
				</div>
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="./img/LogoDODOhorizontal.png" alt="">
					<div class="overlay"></div>
				</div>
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="./img/LogoDODOhorizontal.png" alt="">
					<div class="overlay"></div>
				</div>
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="./img/LogoDODOhorizontal.png" alt="">
					<div class="overlay"></div>
				</div>
				<!-- /Work -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Portfolio -->

	
	<!-- Team -->
	<div id="team" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Equipo de trabajo</h2>
				</div>
				<!-- /Section header -->

				<!-- team -->
				<div class="col-sm-2">
					<span></span>
				</div>

				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="{{ asset('/img/LogoDODOcírculo.png') }}" alt="">
							<div class="overlay">
							</div>
						</div>
						<div class="team-content">
							<h3>Imanol</h3>
							<span>Diseñador</span>
						</div>
					</div>
				</div>
<!-- 
				<div class="col-sm-">
					<span></span>
				</div> -->
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="{{ asset('/img/LogoDODOcírculo.png') }}" alt="">
						</div>
						<div class="team-content">
							<h3>Pablo</h3>
							<span>Desarrollador web</span>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<span></span>
				</div>
				<!-- /team -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Team -->

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Nuestros servicios</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						{# <i class="fa fa-diamond"></i> #}
						<h3>Consultoria</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias non ea quibusdam illo quasi officiis voluptas odio vel iusto, quia eligendi ipsa asperiores perspiciatis dolores aliquam pariatur laborum nam. Recusandae.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						{# <i class="fa fa-rocket"></i> #}
						<h3>Diseño</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus illum aperiam tempore deleniti harum. Dolore repudiandae neque molestias tempore. Commodi repellendus iste debitis explicabo velit modi facilis sapiente similique magni!</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						{# <i class="fa fa-cogs"></i> #}
						<h3>Nuevas ideas</h3>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia sint explicabo maxime quaerat ad, deleniti sit, accusantium beatae cumque labore minus id assumenda laboriosam perferendis velit necessitatibus soluta hic officia.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						{# <i class="fa fa-diamond"></i> #}
						<h3>Posicionamiento</h3>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus ratione veniam, sequi quasi voluptas neque soluta repellendus sunt fuga facilis? Ab obcaecati fugiat distinctio nihil eveniet ullam corrupti fuga autem?</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						{# <i class="fa fa-pencil"></i> #}
						<h3>Soporte para tu web</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos totam voluptate, expedita temporibus enim sapiente? Placeat id qui facilis, nam delectus ad, dolores ullam optio animi officia iure? Molestias, voluptatum?</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						{# <i class="fa fa-flask"></i> #}
						<h3>diseño unico</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, tenetur itaque, quas culpa quos assumenda dolore temporibus enim numquam, vel beatae. Fugit mollitia fuga delectus natus cupiditate amet impedit eaque.</p>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->
	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Contacta con nosotros</h2>
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>Phone</h3>
						<p>512-421-3940</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>email@support.com</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>Address</h3>
						<p>1739 Bubby Drive</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					<form class="contact-form">
						<input type="text" class="input" placeholder="Name">
						<input type="email" class="input" placeholder="Email">
						<input type="text" class="input" placeholder="Subject">
						<textarea class="input" placeholder="Message"></textarea>
						<button class="main-btn">Send message</button>
					</form>
				</div>
				<!-- /contact form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->

{% endblock %}

{% block stylesheets %}

{% endblock %}
